In [5]:
marks=[45,76,89,53,67,90,82,49,33,99]
for i in marks:
    if i>=50:
        print(f'{i}:passed students')

76:passed students
89:passed students
53:passed students
67:passed students
90:passed students
82:passed students
99:passed students

In [19]:
[f'{i}:passed students'  for i in marks if i>=50]

['76:passed students',
 '89:passed students',
 '53:passed students',
 '67:passed students',
 '90:passed students',
 '82:passed students',
 '99:passed students']

In [33]:
marks=[45,76,89,53,67,90,82,49,33,99]
for i in marks:
    if i>=85:
        print(f'{i}:A grade')
    elif i>=70:
        print(f'{i}:B grade')
    elif i>=50:
        print(f'{i}:C grade')
    else:
        print(f'{i}:Fail')

45:Fail
76:B grade
89:A grade
53:C grade
67:C grade
90:A grade
82:B grade
49:Fail
33:Fail
99:A grade

In [35]:
[f'{i}:A grade' if i>=85 else f'{i}:B grade' if i>=70 else f'{i}:C grade' if i>=50 else f'{i}:Fail'for i in marks ]

['45:Fail',
 '76:B grade',
 '89:A grade',
 '53:C grade',
 '67:C grade',
 '90:A grade',
 '82:B grade',
 '49:Fail',
 '33:Fail',
 '99:A grade']

In [37]:
[i+5 for i in marks if i<50]

[50, 54, 38]

In [39]:
marks=[45,76,89,53,67,90,82,49,33,99]
max_val=max(marks)
for i in range(3):
    max_val=max(marks)
    print(max_val)
    marks.remove(max_val)

99
90
89

In [41]:
summ=0
marks=[45,76,89,53,67,90,82,49,33,99]
[summ:=summ+i for i in marks]
summ/len(marks)

68.3

**distance between two points**

In [ ]:
# find the distance between l2 with all other points from l1
# which is the maximum distance give me that
l1=[[1,2],[4,5],[7,9]]
l2=[10,20]

In [102]:
import math
l1=[10,20]
l2=[20,30]
d1=l2[0]-l1[0]
l1sqrt=math.pow(d1,2)
d2=l2[1]-l1[1]
l2sqrt=math.pow(d2,2)
summ=l1sqrt+l2sqrt
math.sqrt(summ)

14.142135623730951

In [110]:
#'Ramesh' age is 20
# 'Suresh' age is 25
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
for i in range(len(names)):
    print(f'{names[i]} age is {age[i]}')

Ramesh age is 20
Suresh age is 25
Sathish age is 30

**zip**

In [115]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
for i,j in zip(names,age):
    print(f'{i} age is {j}')

Ramesh age is 20
Suresh age is 25
Sathish age is 30

In [117]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
for i,j in zip(names,age):
    print(f'{i}-{j}')

Ramesh-20
Suresh-25
Sathish-30

**dictionary**

-In above example names and age both are together
- when both are together we can pair them
- this can happen using dictionary
- dictionary is called as **key-value** pair
- it represents with curly braces :**{key:value}**
- Ramesh and 20 years both are pair:**{Ramesh:20}**
- if the both keys are same it takes the latest value
- dictionary doesnot allow duplicates
- **list as key fails because list has a mutable behaviour**
- **tuple as key works because tuple has **

In [123]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
d1

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}

In [133]:
d2={1000:1000,11:11,12:19}
d2

{1000: 1000, 11: 11, 12: 19}

In [83]:
d1={1000:'hi',11:'hello',19:'mrng'}
list(d1)

[1000, 11, 19]

In [37]:
d1={'hlo':11,'good':20,'morining':40}
print(d1.items())

dict_items([('hlo', 11), ('good', 20), ('morining', 40)])

In [145]:
d1={'Ramesh':20,'Ramesh':40}
d1

{'Ramesh': 40}

In [157]:
d2={True:'true'}
d2

{True: 'true'}

In [11]:
d3={'name':'Mohan Sai','age':20,'age':21,'city':'VZM'}
d3

{'name': 'Mohan Sai', 'age': 21, 'city': 'VZM'}

In [13]:
d3={'name':'Mohan Sai','age':20,'age':21,'city':'VZM'}
type(d3)

dict

In [39]:
d3={"name":"Mohan Sai","age":20,"city":"vzm","age":21}
d3

{'name': 'Mohan Sai', 'age': 21, 'city': 'vzm'}

In [67]:
d3={"name":"Mohan Sai","age":20,"city":"vzm","age":21}
len(d3)

3

In [1]:
d3={"name":"Mohan Sai","age":20,"city":"vzm","age":21,"Float":1.5,"Boolean":True,"Colours":["Red","Green","Blue"]}
d3

{'name': 'Mohan Sai',
 'age': 21,
 'city': 'vzm',
 'Float': 1.5,
 'Boolean': True,
 'Colours': ['Red', 'Green', 'Blue']}

In [39]:
d1={'apple':20,'banana':30,'cherry':40}
d2={'apple':20,'apple':30}
d3={20:'apple',30:'banana',50:'cherry'}

In [55]:
print(reversed(d1))
print(max(d1))
print(min(d1))
print(sorted(d1))

<dict_reversekeyiterator object at 0x000001E2D4906E80>
cherry
apple
['apple', 'banana', 'cherry']

In [67]:
print(list(reversed(d2)))
print(max(d2))
print(min(d2))
print(sorted(d2))

['apple']
apple
apple
['apple']

In [69]:
print(list(reversed(d3)))
print(max(d3))
print(min(d3))
print(sorted(d3))

[50, 30, 20]
50
20
[20, 30, 50]

In [77]:
d1={'apple':20,'banana':30,'cherry':10}
for i in d1:
    print(i)

apple
banana
cherry

In [89]:
d1={'apple':20,'banana':30,'cherry':10}
for i in range(0):
    print(i)

**Key Error**

In [92]:
d1={'apple':20,'banana':30,'cherry':10}
d1[0]

KeyError: 0

**How to extract the values**
- in dictionary we have a concept key:value
- keys are very important
- in order to get the value we need to take keys help

In [103]:
d1={'apple':20,'banana':30,'cherry':10}
d1['apple']
d1['banana']
d1['cherry']

10

In [105]:
for i in d1:
    print(i,d1[i])

apple 20
banana 30
cherry 10

In [123]:
names={20:'Ramesh',30:'Suresh',35:'Sathish'}
for i in names:
    print(f'{names[i]} age is {i}')

Ramesh age is 20
Suresh age is 30
Sathish age is 35

In [133]:
d={'Fruits':['apple','banana','cherry']}
d['Fruits'][2]

'cherry'

In [151]:
d={'fruits':[{'cost':[50]}]}
d['fruits'][0]['cost'][0]

50

In [183]:
d1={'fruits':['apple'],'cost':[{'1kg':[20,30,40],'2kg':None}]}
len(d1['cost'])
d1['cost'][0]['1kg'][2]

40

In [197]:
d1={'Fruites':{'Orange':{'Nagpur':{'MH':{'King':{'Shivaji':{'Shambaji'}}}}}}}
len(d1)
d1['Fruites']['Orange']['Nagpur']['MH']['King']['Shivaji']

{'Shambaji'}

**How to create empty dictionary**
- now onwards focus on creation of empty list ,strings and dictionary
- we will take empty list we use the append operation
- we will take empty sting using conactentation
- we will take empty dictionary will use key:value pair concept

In [201]:
l=[]
l.append(10)
l.append(20)
l

[10, 20]

In [203]:
s=''
s=s+'p'
s=s+'y'
s

'py'

In [214]:
d={}
d['ramesh']=20
d['suresh']=30
d['sathish']=40
d

{'ramesh': 20, 'suresh': 30, 'sathish': 40}

In [224]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
dict={}
for i,j in zip(names,age):
    dict[i]=j

dict

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

In [226]:
names=['Sai','Manoj','Ravi']
age=[20,22,20]
dict={}
for i,j in zip(names,age):
    dict[i]=j
dict

{'Sai': 20, 'Manoj': 22, 'Ravi': 20}

**Dictionary Comprehension**
- for list comprehension we writeen inside the list
-

In [235]:
{i:j for i,j in zip(names,age)}

{'Sai': 20, 'Manoj': 22, 'Ravi': 20}

**Mutable-Immutable**
- lists are mutable
- dictionary are mutable
- strings are immutable
- tuples are immutable
- in dictionary we can change the value using keys

In [242]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
d1['Ramesh']=22
d1['Suresh']=42
d1['Sathish']=46
d1

{'Ramesh': 22, 'Suresh': 42, 'Sathish': 46}

In [244]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [5]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
d1.clear()
d1

{}

In [19]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
s=d1.copy()
d1

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}

In [21]:
d1['Ramesh']=50
d1

{'Ramesh': 50, 'Suresh': 30, 'Sathish': 40}

In [23]:
s

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}

In [49]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
print(list((d1.items())))

[('Ramesh', 20), ('Suresh', 30), ('Sathish', 40)]

In [53]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
list(d1.keys())

['Ramesh', 'Suresh', 'Sathish']

In [55]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
list(d1.values())

[20, 30, 40]

In [63]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
del d1['Ramesh']
d1

{'Suresh': 30, 'Sathish': 40}

In [69]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
d1.pop('Ramesh')
d1

{'Suresh': 30, 'Sathish': 40}

In [75]:
d3={"name":"Mohan Sai","age":20,"city":"vzm","age":21,"Float":1.5,"Boolean":True,"Colours":["Red","Green","Blue"]}
d3['name']

'Mohan Sai'

**Sets**

In [91]:
a={"SAI","VAIBHAV","TUSHAR"}
print(a)

{'VAIBHAV', 'TUSHAR', 'SAI'}

In [93]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [99]:
a={"SAI","VAIBHAV","TUSHAR"}
a.update()
a

{'SAI', 'TUSHAR', 'VAIBHAV'}

In [113]:
a={"SAI","VAIBHAV","TUSHAR"}
a.clear()
a

set()

In [111]:
a={"SAI","VAIBHAV","TUSHAR"}
a.remove("TUSHAR")
a

{'SAI', 'VAIBHAV'}

In [122]:
a={"SAI","VAIBHAV","TUSHAR"}
a.pop()
a

{'SAI', 'TUSHAR'}

In [124]:
a={"SAI","VAIBHAV","TUSHAR"}
a.pop()
a

{'SAI', 'TUSHAR'}

In [130]:
a={"SAI","VAIBHAV","TUSHAR"}
a.union()

{'SAI', 'TUSHAR', 'VAIBHAV'}

**Convert dictionary to list**
- in order to convert dictionary to list
- first we need to seperate keys and values
- then apply list type casting

In [3]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
list(d1.keys())

['Ramesh', 'Suresh', 'Sathish']

list === string - using join
string === list - using split
list === dict - using zip
dict === list - typecasting

In [8]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
list(d1.values())

[20, 30, 40]

In [10]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
list(d1.items())

[('Ramesh', 20), ('Suresh', 30), ('Sathish', 40)]

In [40]:
input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
l1=input.split(';')
fname,sname,cname=[],[],[]
d={}
for i in l1:
    first_dot=i.index('.')
    second_dot=i.index('.',first_dot+1)
    at_the_rate=i.index('@')
    fname.append(i[:first_dot])
    sname.append(i[first_dot+1:at_the_rate])
    cname.append(i[at_the_rate+1:second_dot])

d['fname']=fname
d['sname']=sname
d['cname']=cname
d

{'fname': ['virat', 'rohit', 'ms'],
 'sname': ['kohli', 'sharma', 'dhoni'],
 'cname': ['rcb', 'mi', 'csk']}

In [52]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
d1.pop('Ramesh')

20

In [46]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
d1.popitem()
d1

{'Ramesh': 20, 'Suresh': 30}

- **pop** in dictionary, similar to analog **remove** in list

- **pop-item** in dictionary, similar to analog **pop** in list

In [58]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
d1.get('Ramesh')

20

In [62]:
d1['Ramesh'] # key as an index

20

In [76]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
d2={'Ramesh':20,'Sai':40,'Sira':50}
d1.update(d2)
d1

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40, 'Sai': 40, 'Sira': 50}

In [82]:
l1=['Ramesh','Suresh','Sathish']
l2=['Ramesh','Sai','Sira']
l1.extend(l2)
l1

['Ramesh', 'Suresh', 'Sathish', 'Ramesh', 'Sai', 'Sira']

**setdefault**
- suppose an already exists dictionary available
- we can update the dictionary with the new key:value pair

In [89]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
d1.setdefault('Sai',46)
d1.setdefault('Chandu')
d1

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40, 'Sai': 46, 'Chandu': None}

- **setdefault** in dictionary,similar analog **list append**
- always remember dictionary is a key:value pair concept
- it never involves index operations
- thats why we dont have any index or find methods
- we have get method to extract values using key

**fromkeys**
- create a dictionary with different keys bit same value
- fromkeys will take an argument **iterable**
- try to provide an iterator i.e string,tuple

In [100]:
d={}
names=['Ramesh','Suresh','Sathish']
d.fromkeys(names,'20')

{'Ramesh': '20', 'Suresh': '20', 'Sathish': '20'}

In [102]:
d={}
names=['Ramesh','Suresh','Sathish']
d.fromkeys(names,'Nareshit')

{'Ramesh': 'Nareshit', 'Suresh': 'Nareshit', 'Sathish': 'Nareshit'}

In [108]:
d={}
d.fromkeys('python',123456)

{'p': 123456, 'y': 123456, 't': 123456, 'h': 123456, 'o': 123456, 'n': 123456}