In [ ]:
1. Write a Python program to check if a given number is prime or not.
2. Write a Python program to generate n Fibonacci series values.
3. Write a Python program to convert characters at prime index to
uppercase. For example, given input: python, output: pyTHoN.
4. Write a Python program to check if a number is a palindrome without
converting it to a string (without using slicing).
5. Write a Python program to find the length of a list or string without
using the len() function.
6. Write a Python program that asks the user to enter a number and
prints its multiplication table using a while loop.
7. Write a Python program to find the sum of a given list using a lambda
function.
8. Write a Python program that asks the user to enter a year and
determines whether it is a leap year or not.
9. Write a Python program to count the frequency of each element in a
list.
10.Write a Python program to find the second largest number in a list that
contains duplicate values, without converting the list to a set. For
example, given the list [1, 2, 3, 4, 2, 3, 4, 1, 4, 5, 5, 4], the output should
be 4.

In [7]:
#Q1. Write a Python program to check if a given number is prime or not.
num=10
if num>1:
    for i in range(2,(num//2)+1):
        if num%i==0:
            print(num,"is not a prime number")
        else:
            print(num,"it is a prime number")

10 is not a prime number
10 it is a prime number
10 it is a prime number
10 is not a prime number

In [11]:
#Q2. Write a Python program to generate n Fibonacci series values.
n=10
num1=0
num2=1
next_number=num2  
count =1
while count<=n:
    print(next_number, end=" ")
    count+=1
    num1,num2 = num2,next_number
    next_number = num1+num2
print()

1 2 3 5 8 13 21 34 55 89

In [13]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, num):
        if num % i == 0:
            return False
    return True
def convert_to_uppercase_at_prime_indices(s):
    result = list(s)
    for i in range(len(s)):
        if is_prime(i):
            result[i] = result[i].upper()
    return ''.join(result)
input_str = "python"
output_str = convert_to_uppercase_at_prime_indices(input_str)
print("Output:", output_str)

Output: pyTHoN

In [17]:
def is_palindrome_native(num):
    return str(num) == str(num)[::-1]
number=4006
if is_palindrome_native(number):
    print(f"{number} is a palindrome.")
else:
    print(f"{number} is not a palindrome.")

4006 is not a palindrome.

In [29]:
num = 15
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

In [33]:
a = [11,22,33,44]
s1= sum(a)
print(s1)

110

In [35]:
year = 2004
if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))
else:
    print("{0} is not a leap year".format(year))

2004 is a leap year

In [41]:
a=[22,33,45,57,89,99,100]
max1=max2=float('-inf')
for n in a:
    if n>max1:
        max2=max1  
        max1=n     
    elif n>max2 and n!=max1:
        max2=n  
print(max2)

99