-list comprehension is a way to list operations in a single line 
- when we apply for loop and if-else conditional statements then the code complication become slow
- which means it takes much time
- in order to avoid the time complexity we will use list comprehension
-list comprehension is a single line code

In [5]:
list1=[]
for i in range(10):
    list1.append(i)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
list1=[i for i in range(10)]
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
#Q1) input=['hyderabad','bengaluru','pune','mumbai']
#    output=['Hyderabad','Bengaluru','Pune]

input=['hyderabad','bengaluru','pune','mumbai']
output=[i.capitalize()for i in input]
output

['Hyderabad', 'Bengaluru', 'Pune', 'Mumbai']

In [14]:
input=['hyderabad','bengaluru','pune','mumbai']
output=[i.upper()for i in input]
output

['HYDERABAD', 'BENGALURU', 'PUNE', 'MUMBAI']

In [28]:
input=['hyderabad','bengaluru','pune','mumbai']
output=[input.index(i)*10 for i in input ]
output

[0, 10, 20, 30]

In [34]:
input=['hyderabad','bengaluru','pune','mumbai']
output=[input.index(i)*10 for i in input ]
sum(output)

60

**walrus operator**

In [41]:
summ=0
[summ:=summ+i for i in range(1,11)]
summ

55

In [56]:
input=['hyderabad','bengaluru','pune','mumbai']
output=[summ:=summ+i for i in range(1,11)]
sum(output)

1320

**case-2: for loop if condition**

In [58]:
[f'even:{i}'for i in range(1,10) if i%2==0]

['even:2', 'even:4', 'even:6', 'even:8']

In [60]:
l=['hyd','beng#aluru','pune','mu#mbai']
l1=[]
for i in l:
    if '#' in i:
        l1.append(i)
print(l1)

['beng#aluru', 'mu#mbai']

In [74]:
l=['hyd','beng#aluru','pune','mu#mbai']
output=[i for i in l if '#' in i]
output

['beng#aluru', 'mu#mbai']

In [76]:
l=['hyd','beng#aluru','pune','mu#mbai']
output=[i for i in l if '#' not in i]
output

['hyd', 'pune']

In [88]:
l=[12,32,44]
output=[f'even:{i}' if i%2==0 else f'odd:{i}' for i in range(len(l))]
output

['even:0', 'odd:1', 'even:2']

**case-4: for-if-elif-else**

- In list Comprehension we dont have **elif** representation
- elif also represent 


**note**: instead of elif term write if

In [ ]:
[<if out> <if condition> else <elif out> <elif condition> else <else out> <for loop>]case

In [94]:
l=[35,45,55,65,75,85,95]
for i in l:
    if i>85:
        print(f'{i}:A grade')
    elif i>60:
        print(f'{i}:B grade')
    else:
        print(f'{i}:c grade')

35:c grade
45:c grade
55:c grade
65:B grade
75:B grade
85:B grade
95:A grade

In [96]:
[f'{i}:A grade' if i>85 else f'{i}:B grade' if i>60 else f'{i}:c grade' for i in l]

['35:c grade',
 '45:c grade',
 '55:c grade',
 '65:B grade',
 '75:B grade',
 '85:B grade',
 '95:A grade']