In [ ]:
str1='virat.kohli@rcb.com'
str2='rohit.sharma@mi.com'
str3='ms.dhoni@csk.com'
# first name
# second name
# company
str4='a.b@c.com'
#step-1: first extract . index
#step-2: extract the @ index
#step-3: extract the second . index

In [21]:
str1='virat.kohli@rcb.com'
n=str1.index('.')
n1=str1.index('@')
print(str1[0:n])
print(str1[n+1:n1])
n2=str1.index('.',n+1)
print(str1[n1+1:n2])

virat
kohli
rcb

In [25]:
str2='rohit.sharma@mi.com'
n=str2.index('.')
print(str2[0:n])
n1=str2.index('@')
print(str2[n+1:n1])
n2=str2.index('.',n+1)
print(str2[n1+1:n2])

rohit
sharma
mi

In [ ]:
def extract(str1):
    first_dot=str1.index('.')
    second_dot=str1.index('.',first_dot+1)
    at_the_rate=str1.index('@')
    print(first_dot,second_dot,at_the_rate)

In [ ]:
split
- split is used to covert a string to list of elements
-by default it will split based on space

In [33]:
str1='hi how are you'
str1.split()

['hi', 'how', 'are', 'you']

In [31]:
str2='hi how are , you '
str2.split()

['hi', 'how', 'are', ',', 'you']

In [35]:
str1='hi how are you'
str1.split('o')

['hi h', 'w are y', 'u']

In [37]:
str1='abcdefg'
str1.split('c')

['ab', 'defg']

In [ ]:
**join**

In [39]:
str2='hi how are , you '
l=str2.split()
l
' '.join(l)

'hi how are , you'

In [41]:
str1='abcdefg'
l=str1.split('c')
l
'c'.join(l)

'abcdefg'

In [21]:
str1='the telephone number is 123456'
str1.split()
for i in str1:
    if i.isdigit():
        print(i)

1
2
3
4
5
6